@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PPWoodland';
    src: url('./fonts/PPWoodland-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  

  body {
    font-family: 'PPWoodland', sans-serif;
  }